<html>
    <title><%=title%></title>
    
    <link rel="stylesheet" href="/assets/Login.css">
    <body>
            <%if(messages.error){%>
                        <p>
                            Error
                            <%=messages.error%>
                        </p>
            <%}%>
        <div class="container" >
        <form  class="form" action="/unAuth/login" method="POST">
            <div class="inputField">
            <label for ="email">Email : </label >
            <input type="text" id="email" name="email">
        </div>
        <div class="inputField">
            <label for ="password">Password : </label >
                <input type="password" id="password" name="password">
            </div>
            <div class="inputField">
                <input class ="button" type="submit" value="Login"><button class="button"><a href="/unAuth/Register">Register</a></button>
            </div>
        </form>
        <button class="button"><a href="/unAuth/Github">Login Using Github</a></button><br>
        
    </div>  
    </body>
</html>